<p id="notice"><%= notice %></p>
<div class="show-page">
	<h1>
	  Name:  <%= @student.name %>
	</h1>

	<p>
	  Table No.:  <%= @student.table %>
	</p>

	<p>
	  Seat No.:  <%= @student.seat %>
	</p>
	<p>
	  Grades:  <%= @student.grade %>
	</p>

	<div class = "btn btn-group">
		<%= link_to 'Edit', edit_student_path(@student),class: "btn btn-default" %> 
		<%= link_to 'Back', students_path, class: "btn btn-default" %>
	</div>
</div>	
